<p>
    You've been invited to <a href="https://truepositive.app">True Positive</a>, a tool for tracking and collaborating on security incidents.
</p>
<ul>
    <li>Login URL: <a href="<%= @login_url %>"><%= @login_url %></a></li>
    <li>Username: <%= @user.username %></li>
    <li>Password: <%= @password %></li>
</ul>
<p>
    Please change your password after logging in.
</p>