<p>Thanks for your email! We've created a case for it in <a href="https://truepositive.app">True Positive</a>:</p>

<p><a href="<%= @case.link_to_case %>"><%= @case.link_to_case %></a></p>

<p>Note that if you don't have access to True Positive or aren't a member of
the template the case was created from, you won't be able to access the link above.</p>