.ql-editor {
  min-height: 150px;
}

.ql-editor ul[data-checked="false"] > li::before {
  content: "\2E3A";
  font-size: 1.5rem;
}

.ql-editor ul[data-checked="true"] li::before {
  content: "\2713";
  font-size: 1.5rem;
  font-weight: bold;
}
