@media screen and (min-width: 1200px) {
  .activityPaneContainer {
    flex: 2;
  }
}

@media screen and (max-width: 1200px) {
  .activityPaneContainer {
    display: none;
  }
}

.dark > .mde-header {
  background-color: black !important;
  border-bottom: none;
}

.dark > .mde-header > .mde-tabs > .selected {
  border: 1px solid #595959 !important;
}

.dark.react-mde > .grip {
  background-color: inherit !important;
  border-top: none;
}

.dark.react-mde {
  border: none !important;
}

.dark.react-mde {
  border: 1px solid #262626 !important;
}
