@media screen and (min-width: 1200px) {
  .activityPaneContainer {
    flex: 2;
  }
}

@media screen and (max-width: 1200px) {
  .activityPaneContainer {
    display: none;
  }
}

.dark > .mde-header {
  background-color: black !important;
}

.dark > .react-mde .grip {
  background-color: inherit !important;
}
